body{
  padding-top: 50px;
}

.form-action {
  transition:0.5s linear all;
  background: white;
}
.ng-touched.ng-invalid {
  border: solid red 1px;
  background: rgba(255, 0, 0, 0.5);
  color:white;
}

.arrow {
  width: 25px;
  height: 25px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.form-post label, .btn {
  margin-top: 10px;
}

.post {
  text-align: center;
  background: #e7e7e7;
  margin-top: 20px;
  padding: 20px;
}

.post-img {
  height: 174px;
  width: 220px;
}

.post-title {
  margin: 0;
}

.image-section {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.header-section {
  text-align: left;
}

.header-section p, .header-section h3 {
  display: inline-block;
}

.posted-by {
  text-align: right;
}

.mid {
  text-align: left;
}

.lower {
  text-align: left;
}

.lower p {
  list-style-type: none;
  display: inline-block;
}
